{% extends 'base.html' %}
{% load static %}

                {% block main %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Treatments
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Price</th>
                                            <th>Employee</th>
                                            <th>Car number</th>
                                            <th>car manufacturer</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Type</th>
                                            <th>Price</th>
                                            <th>Employee</th>
                                            <th>Car number</th>
                                            <th>car manufacturer</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for t in treatments %}
                                        <tr>
                                            <td>{{t.get_type_display}}</td>
                                            <td>{{t.price}}</td>
                                            <td>{{ t.employee }}</td>
                                            <td>{{t.car }}</td>
                                            <td>{{t.car.manufacturer}}</td>
                                            <td><a href="{% url 'car:edit_treatment' %}" class="btn btn-info">Edit</a></td>
                                        </tr>
                                        {% endfor %}
<!-------------------------->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock %}
